<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750548567622-uqltfvm32gjlerj8bj559itq893umcf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750548567622-uqltfvm32gjlerj8bj559itq893umcf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAf0Ip4zPaiXieIFSaYQuWjKKh3dAdVToU</string>
	<key>GCM_SENDER_ID</key>
	<string>750548567622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KS.Loodos-Movie</string>
	<key>PROJECT_ID</key>
	<string>loodos-movie</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-movie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:750548567622:ios:4a449b90e1f0b678846c47</string>
	<key>DATABASE_URL</key>
	<string>https://loodos-movie.firebaseio.com</string>
</dict>
</plist>
